
{% extends "base.html" %}

{% import "bootstrap/wtf.html" as wtf %}

{% block title %}Profile{% endblock %}

{% block main %}

	<div class = "single-profile-container container">

		<div class="sidebyside"> <img src="{{user['image']}}" alt="" srcset="" height="170" width="120">
    
			<div class= "Info">
					
				<div class= "name">
					<h1 id= "name"> {{user['fname']}} {{user['lname']}}</h1>
				</div>
				
				<div id= "prof-info">
					<br>
					<p><i class="fa fa-envelope fa-fw"></i>{{user['email']}}</p>
					<p><i class="fas fa-map-marker-alt fa-fw"></i>{{user['location']}}</p>
					<p><i class="far fa-calendar fa-fw"></i>Joined on {{datestring}} </p> 
				</div>		
	
		</div>
	</div>
				<div class="bio">
                    <h3>About Me</h3>
					<hr>
					<p>{{user['bio']}}</p>
				</div>
				<div class="center">
					<button class= "btn btn-success px-4 pt-1 pb-1 font-sml font-weight-bold">Send Message</button>
					<button class="btn btn-primary px-4 pt-1 pb-1 font-sml font-weight-bold">Follow</button>
				</div>
		</div>
	
{% endblock %}
